.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textName {
    font-size: 30px;
    color: #F3752B;
}

.textGo {
    font-size: 34px;
    color: green;
    text-decoration: none;
}

.textGo:hover {
    font-size: 36px;
    color: #133813;
}