.container {
    width: 400px;
    margin-bottom: 40px;
}

.title {
    color: #F3752B;
}

.input {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 12px;
}

.description {
    margin: 20px 0;
}

.input input, textarea {
    background-color: #c6d0c6;
    border-color: #F3752B;
    border-radius: 12px;
}

.input textarea {
    height: 80px;
}

.button {
    padding: 8px 0;
    cursor: pointer;
}