.container {
    width: 25vw;
    display: flex;
    flex-direction: column;
    background-color: #c6d0c6;
    margin: 10px;
    padding: 8px;
    border-radius: 12px;
    position: relative;
}

.img {
    width: 10vw;
    margin: 0 auto;
    border-radius: 12px;
}

.groupTitle {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 18px;
    color: #F3752B;
    text-transform: uppercase;
    font-weight: 700;
}

.description {
    color: #133813;
    overflow: hidden;
    text-overflow: ellipsis;
}

.iconClose {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

